<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Terminal Delusion</title>
	</head>

	<body>

		<img src="/assets/img/burger_beauty.jpeg" width="400px" id="burger_beauty">
		
		{{{ body }}}

		<footer class="Terminal-Delusion-Footer">
			<div class="footer-copyright">
				<div class="container">
					<span class="copyright">@2018 TDCode</span>
					<a href="https://github.com/kjmbaldwin/terminal-delusion">Terminal Delusion</a>
				</div>
			</div>
		</footer>
	</body>
</html>